.header{
    background-color: #fff
}
.header .navbar-brand{
    color: #201d5e;
    font-weight: 600;
    font-size: 20px;
    margin-right: 25px;
    position: relative;
    top: -1px;
}
.navbar .nav-item, .navbar .login_link{
    color: #201d5e;
    opacity: 1;
    font-weight: 600;
    margin-right: 10px;
    font-size: 14px;
}
.dropdown-menu .dropdown-item{
    border-bottom: 2px solid black;
    color: black;
    background-color: #fff;
    margin: 4px auto;

}
.dropdown-menu .dropdown-item:hover{
    color: #fff;
    background-color: #000;
}