@tailwind base;
@tailwind components;
@tailwind utilities;

.campaign_button{
    @apply px-14 py-4 bg-pink-btn rounded shadow-md text-sm;
}

.my_label{
    @apply text-blue-text text-base font-semibold pb-6;
}

.my_input{
    @apply w-full mt-3 block p-3 leading-4 text-base rounded border border-blue-border_select ;
}